.transaction {
  margin: 20px auto;
  width: 700px;
}

th {
  text-align: center;
  background-color: rgb(245, 245, 245);
  color: black;
  padding: 5px;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
}

td {
  text-align: center;
  color: #595a5a;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
}

table,
th,
td {
  border: 2px solid #f0f0f0;
}
